body {
    background-color:#004000;
    color:white;
    font-family: sans-serif;
}
h1 {
	font-size: 4rem;
}
#banner {
    position: fixed;
    width: 100%;
    height: 210px;
    top: 0;
    left: 0;
}
a:active, a:link, a:visited {
    color: #E5FFB2;
    border: 0px;
}
a:hover {
    color: #E5FFB2;
    border: 0px;
}
#songlist {
	margin:auto;
	width:90%;
    border:2px inset green;
    margin:auto;
    padding:2px;
}
#songlist td {
    padding: 4px;
    border-bottom:1px dotted green;
}

#songlist .song {
    border-bottom:1px solid #00CC00;
    border-left:none;
    list-style:none;
    padding: 2px;
    margin: 2px;
    color: #FFFFFF;
    margin:auto;

}

.song a:link {
    text-decoration:none;
}

.song_text a:hover {
    background-color: #00CC00;
}

